/* You can add global styles to this file, and also import other style files */


body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(60, 60, 61));
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}