@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Uncial+Antiqua&display=swap');

h1 {
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
  }
 *{
  user-select: none;
 }